* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: 400;
}

input, textarea {
  font-size: 14px;
  text-indent: 12px;
  padding-top: 12px;
  border-radius: 4px;
  border: 1px solid #a6bfff;
  box-shadow: 0 2px 6px rgba(166,191,255,.2);
  outline-color: #a6bfff;
  resize: none;
}